*{
    padding:0;
    margin:0;
}
:root{
    --textPrimary:#FFFFFF;
    --textSecondary:#E2E2FF;
    --secondActive:#cbb8ff;
    --hiddenText:#8E99A1;
    
    --otherTexts:#494B72;
    --button:#9CBCEB;
    --activeButton:#7aacf8;

    --header:#384559;
    --background:#2E313A;

    --cards:#3E4557;
    --cardbutton:#4E5973;
}
.nunito-sans-teste {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
body{
    display:flex;
    flex-direction: column;
    background-color: var(--background);
    color:var(--textPrimary);
   
}
header{
    background-color: var(--header);
    height: 5.25rem;
    display:flex;
    align-items: center;
    padding:0 30px 0 30px;
}
.divisor{
    display:flex;
    flex:1;
}
.center{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 60px;
}
#paiGeral{
    padding: 40px 0 0 0;
    display: flex;
    gap:32px;
    flex:1;
}
#username{
    color:var(--hiddenText);
}
#frase{
    color:var(--textSecondary);
}
.btao{
    height: 50px;
    width: 160px;
    border-radius: 16px;
    background-color: var(--button);
    color:var(--otherTexts);
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
}
main{
    display:flex;
    flex-direction: column;
    gap:40px;
}
#perfil{
    display:flex;
    flex-direction: row;
    gap:1rem;
}
.pfp{
    display: flex;
    flex-direction: column;
}
#foto{
    background-color: var(--cards);
    background-size: 100%;
    background-position:0 -30px;
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
#bgicones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 46px;
    background-color: var(--cards);
    position: absolute;
    top:14.8rem;
    box-shadow: -8px -8px 10px #0000005e;
    gap:5px;
}
#bgicones img{
    height: 37px;
    width: auto;
}
.infosPerfil{
    display: flex;
    flex-direction: column;
}
#sobremim{
    display: flex;
    width: 600px;
    flex-direction: column;
    gap:20px;
    background-color: var(--cards);
    padding: 40px 20px 40px 20px;
}
#sobremim p{
    color:var(--textSecondary);
}
#projetos{
    display:flex;
    flex-direction: column;
    flex:1;
    max-width: 700px;
}
#containerProjetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cards);
    box-sizing: border-box;
    margin: 0 20px 0 0;
    height: 700px;
    padding: 0 0 20px 0;
    overflow-y: auto;
}
#containerProjetos h1{
    margin: 0 0 10px 0;
}
.barra{
    border-left: 3px solid #20222b;
}
.cardP{
    display:flex;
    flex-direction: column;
    width: 90%;
    height: 200px;
    background-color: var(--hiddenText);
    border-radius: 12px;
}
.cards{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:20px;
}
#verMais{
    display:none;
    cursor: pointer;
    display: flex;
    position:relative;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--cardbutton);
    border:none;
    color:var(--textSecondary);
    font-size: 1rem;
}
.click,.cardP,#verMais{
    transition: transform 0.3s ease;
}
.click:hover{
    transform: scale(1.1);
}
.cardP:hover,#verMais:hover{
    transform: scale(1.05);
}
#verMais:hover{
    color:var(--secondActive);
}
.btao:hover{
    background-color: var(--activeButton);
}
/*PROJETOS*/
.cardP:nth-child(1){
    background-image: url("./imgs/folhaVerde.png");
    background-size: cover;
    background-position: top center;
}
.cardP:nth-child(2){
    background-image: url("./imgs/estudeZen.png");
    background-size: cover;
    background-position: top center;
}
.cardP:nth-child(3){
    background-image: url("./imgs/WordTale.png");
    background-repeat: no-repeat;
    background-size: 258%;
    background-position: top center;
}