#layer2{
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.719);
    inset:0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
}
#cardViewer,#cardSkills{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background-color: var(--cards);
    height: 80%;
    width:60%;
    gap:20px;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    gap:10px;
    overflow-y: auto;
}
.tecnologias{
    display: flex;
    height: auto;
    max-height: 5rem;
    flex-grow: 1;
    gap:20px;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    padding:14px;
    border-bottom: solid 4px #20222b;
}
.tecnologias img{
    transition: transform 0.3s ease;
    height: auto;
    width: 40px;
}
.tecnologias img:hover{
    transform:scale(1.3);
}
.habilidades{
    user-select: none;
    display:flex;
    padding: 20px 0 0 0;
    width: 90%;
    height: 80%;
    align-items: start;
    justify-content: center;
    align-content:flex-start;
    gap:20px;
    flex-wrap: wrap;
}
.habilidades p{
    background-color: var(--button);
    padding:6px;
    border-radius: 24px;
    color:var(--otherTexts);
    font-weight: 700;
    transition: transform 0.4s ease;
}
.habilidades p:hover{
    transform: scale(1.09);
    background-color: var(--activeButton);
}
.exitContainer{
    display: flex;
    min-height: 60px;
    height: auto;
    justify-content: end;
    align-items: center;
    background-color: var(--cardbutton);
}
#exit,#exitSkill{
    cursor:pointer;
    position: absolute;
    margin: 0 20px 0 0;
    height: auto;
    width: 30px;
    padding:3px;
    font-size: 2rem;
    background-color: #ce003e;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

#exit:hover, #exitSkill:hover{
    transform: scale(1.11);
}

.imageContainer{
    display: flex;
    justify-content: center;
}
.image{
    width: 90%;
    height: 380px;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:  top center;
}
.textos{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
}
#cardTitle{
    display: flex;
    flex:1;
    justify-content: center;
}
.textos p{
    color:var(--textSecondary)
}
.textos p::before, .textos p::after{
content: '"';
}

.linkedin{
    display: flex;
    background-color: rgb(33, 80, 207);
    border-radius: 12px;
    padding:2px;
}
.zap{
    display: flex;
    background-color: #1fb168;
    border-radius: 12px;
    padding:2px;
}
.insta{
    display: flex;
    background-color: #e03a88;
    color:#fff;
    padding:2px;
    border-radius: 12px;
}
.socialLink:visited{
    color:inherit;
}
.hide{
    display:none;
}